<div class="footer-middle">
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-3 col-sm-6 mt-3  text-white ">
        <div class="footer-pad">
          <h4 > Page</h4>
          <ul class="list-unstyled  pt-2">
            <li> <a href="#">Boutique</a></li>
            <li> <a href="#"> A propos </a></li>
            <li> <a href="#">Panier</a></li>
            <li> <a href="#">Accueil</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mt-3  text-white">
        <div class="footer-pad">
          <h4>Services</h4>
          <ul class="list-unstyled pt-2">
            <li><a href="#"> Services Mobile </a> </li>
            <li><a href="#">Services Internet</a> </li>
            <li><a href="#">Services Tv</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mt-3  text-white ">
        <div class="footer-pad">
          <h4> Informations Leguales </h4>
          <ul class="list-unstyled pt-2">
            <li> <a href="#"> Politique de Confidentialité </a> </li>
            <li> <a href="#"> Condition General d'utilisation </a> </li>
            <li> <a href="#">Conditions Generales de Ventes</a> </li>
          </ul>
        </div>
      </div>
        <div class="col-md-3 col-lg-2 mt-3  img-fluid " id="logofooter">
          <a href="">
            <img class="" src="assets\image\orangelogo.webp" alt="">
          </a>

            <ul class="social-network social-circle d-flex justify-content-around">
             <li>    <i class="bi bi-instagram"></i>
              <li><i class="bi bi-facebook"></i></li>
             <li> <i class="bi bi-twitter"></i></li>
            </ul>
    </div>
    </div>

    <div class="row">
      <hr>
    <div class="col-md-12 copy">
    <p class="text-center"> © Copyright 2021 - Orange.sn  All rights reserved. </p>
    </div>
    </div>
  <!-- </div> -->
  </div>
