<div class="menu fixed-top">
<div class="navbartop bg-black ">
  <div class="row  ">
  <div class="col-10 navaddress">
      <i class="bi bi-geo-alt-fill mx-2" ></i> 64, Voie de Dégagement Nord
      <i class="bi bi-phone-fill mx-2"  ></i> 33 839 12 00
      <i class="bi bi-envelope mx-2"  ></i> serviceclientorange-sonatel.com
  </div>
  <div class="col-2 navsocialreseau d-flex justify-content-sm-evenly">
      <i class="bi bi-instagram"></i>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter"></i>
  </div>
</div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h2 class="fw-bold">Orange</h2>
    </a>
    <div class="collapse navbar-collapse " id="navbarScroll">
      <ul class="navbar-nav  w-100 justify-content-center ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mobile</a></li>
            <li><a class="dropdown-item" href="#">Internet et fixe</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Boutique</a>
        </li>
      </ul>

      <button class="btn  " id="connect">Se connecter</button>
    </div>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
</div>
